.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/db/virtualbox/vagrant_cwd
.vagrant/machines/WEB/virtualbox/vagrant_cwd
.vagrant/bundler/global.sol
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/default/virtualbox/vagrant_cwd
